<!DOCTYPE html>
<!-- CAUTION: THIS IS USED FOR IFRAME STUFF!-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/dist/output.css" rel="stylesheet">
  </head>
  <body class="text-center font-def overflow-hidden select-none">

    <img class="inline-block m-12 scale-75" src="../../assets/svg/large-green-tick.svg" alt="what the fuck?"/>
    
    <p class="text-5xl font-bold text-bc_box_purple_bg"> Wa-zaah! </p>
    <p class="text-3xl text-purple-400 mb-20"> You have finished the test! </p>  
    <button class="text-gray-700 hover:bg-bc_box_plain_bg_hv bg-bc_box_plain_bg border-bc_box_plain_bd button-def"> See Results </button>  </br>
    <button class="text-white hover:bg-bc_box_red_bg_hv bg-bc_box_red_bg border-bc_box_red_bd button-def"> Exit </button>
  </body>
</html>