<!DOCTYPE html>
<!-- CAUTION: THIS IS USED FOR IFRAME STUFF!-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/dist/output.css" rel="stylesheet">
  </head>
  <body class="text-center font-def overflow-hidden select-none">

    <img class="inline-block m-10 scale-75" src="../../assets/svg/home-cricket.svg" alt="what the fuck?"/> </br>
    
    <p class="text-4xl inline-block w-2/5 font-bold text-bc_box_purple_bg"> It seems like you don't have any available tests or quizzes. </p>
    <p class="text-3xl text-purple-400 mb-10"> Start your journey by creating one right now! </p>  

    <button class="text-white hover:bg-bc_box_purple_bg_hv bg-bc_box_purple_bg border-bc_box_purple_bd button-def"> Create now </button>
  </body>
</html>