<!DOCTYPE html>
<!-- CAUTION: THIS IS USED FOR IFRAME STUFF!-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/dist/output.css" rel="stylesheet">
  </head>
  <body class="text-center font-def overflow-hidden select-none">
    
    <p class="text-4xl m-6 inline-block w-2/5 font-bold text-bc_box_purple_bg"> Load a quiz or test </p>
    <div id="file-import-area" class="inline-block lt-import-area">
        <img class="inline-block m-8 scale-75" src="../../assets/svg/import-arrow.svg" alt="what the fuck?"/> </br>

        <p class="text-4xl mt-5 font-bold text-bc_box_purple_bg"> Drag and drop your files here </p>
        <p class="text-2xl text-purple-400 mb-10"> Or click in this area to import via the open dialog window </p>

        <p class="text-large italic mt-20 mb-2 text-purple-400"> Currently accepted file formats: <span class="font-bold">.json</span></p>
    </div> </br>


    <script src="../../js/socket.io.js"></script>
    <script src="../../js/views/loadtest.js"></script>

  </body>
</html>